<section id="identifier"> 
{{{Identifier}}}
</section>

<section id="title">
{{{Title}}}
</section>

<section id="date">
{{{Date}}}
</section>

<section id="description">
{{{Desc}}}
</section>

<section id="type">
{{{Type}}}
</section>

<section id="format">
{{{Format}}}
</section>

<section id="physicalmedium">
{{{PhysicalMed}}}
</section>

<section id="location">
{{{Location}}}
</section>

<section id="subject">
{{{Subject}}}
</section>

<section id="coverage">
{{{Coverage}}}
</section>

<section id="spatial">
{{{Spatial}}}
</section>

<section id="temporal">
{{{Temporal}}}
</section>

<section id="source">
{{{Source}}}
</section>

<section id="creator">
{{{Creator}}}
</section>

<section id="contributor">
{{{Contributor}}}
</section>

<section id="publisher">
{{{Publisher}}}
</section>

<section id="rights">
{{{Rights}}}
</section>

<section id="source">
{{{Source}}}
</section>

<section id="img">
{{{Image}}}
</section>

<section id="relation">
{{{Relation}}} 
</section>
