<html>
<head>
  <title>{{{Title}}}</title>
</head>
<body>
  <header> 
    <h1> Allegheny Archives </h1>
  </header>

  <section id="item-content">
{{{content}}} 
  </section>

  <footer>
    <p>Allegheny College 2022</p>
  </footer>
</body>
</html>
